 .footer {
    margin: 100px 150px 20px 150px;

    .top{
        display: flex;
        gap: 50px;

        .item{
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex:1; 
            text-align: justify;
            font-size: 14px;

            h1{
                font-size: 18px;
                font-weight: 500;
                color: #555;
            }
            span{
                color:gray; 
            }
        }
    }

    .bottom{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin-top: 50px;
        .left{
            display: flex;
            align-items: center;

            .logo{
                color:#014cd7;
                font-weight: 700;
                font-size: 24px;
            }

            .copyright{
                margin-left: 60px;
                font-size: 14px;
                color:gray;
            }
        }
        .right{
            img{
             height: 140px;
             opacity:0.85;
            }
        }
    }
 }